body {
  background-color: rgb(255, 255, 255);
  font-family: "DotGothic1x6";
  background-image: url("../img/boder.jpg");
background-position: center;
background-repeat: repeat-y;
background-size: 200vw;
  font-size: 110%;
  margin: 0;
	font-family: "ms Ui gothic";
}

/*Font stuff*/
p {
  margin: 0;
  }
.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-style: normal;
}

    /*Header*/
.header {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 3em;
  text-align:center;
  }

/*Body*/

.title {
	background:#04450c;
	color: #06541b;
	margin: 0 auto 0 auto;
	margin-top: 1em;
	border-style: solid;
    border-width: 1px;
    border-color: #06541b;
    border-left-width: 0px;
    border-right-width: 0px;
	text-align: center;
}
.maincontent{
	flex: auto;
	float: left;
}
.smallbox {
	border-style: dotted;
    border-width: 2px;
    border-color: #06541b;
	background: white;
	padding: 0px;
	margin:auto;
	margin-bottom: 3px;
	width: 30%;
}

/*Footer*/
.footer {
	background: #000000;
	border-top: solid;
	border-top-color: #06541b;
	border-top-width: 1em;
	margin-top: 2em;
	padding: 1.5em;
	margin-bottom: 0px;
}
.footer p {
	color: #06541b;
	padding: .2em; 
	text-align: center; 
	font-size: 90%;
}
.flex {
	justify-content: center;
	flex-wrap: wrap;
}
.counter {
	display: block;
	justify-content: right;
	align-items: right;
	width: 100%;
	text-align:center;
}
